* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}  

ul {
  list-style: circle;
}  

li {
  margin-left: 1rem;
}  

input[type="file"] {
  color: #333333;
}  

input::file-selector-button {
  width: 20vw;
  border: none;
  outline: none;
  height: 3rem;
  transition: transform 200ms;
  border-radius: .25rem;
}  

input::file-selector-button:hover {
  font-weight: bold;
}  

input::file-selector-button:active,
input::file-selector-button:focus {
  transform: translateY(0.125rem);
  box-shadow: none;
}  

/* Flex Layouts */

.flex {
  display: flex;
}

.flexrow {
  flex-direction: row;
}

.flexcolumn {
  flex-direction: column;
}

.flexspaced {
  justify-content: space-between;
}

.flexaround {
  justify-content: space-around;
}

.flexstart {
  justify-content: flex-start;
}

.flexend {
  justify-content: flex-end;
}

.flexcenter {
  justify-content: center;
  align-items: center;
}

.flexcenterjust {
  justify-content: center;
}

.flexcenteralign {
  align-items: center;
}

/* Text Options */

.whitetext {
  color: aliceblue;
}

.bluetext {
  color: #124EA4;
}

.greytext {
  color: #505050;
}

.h1text {
  font-size: 5rem;
}

.h2text {
  font-size: 3rem;
}

.h3text {
  font-size: 2rem;
}

.h4text {
  font-size: 1.4rem;
}

.liltext {
  font-size: 66%;
}

.centertext {
  text-align: center;
}

.righttext {
  text-align: right;
}

.morris {
  font-family: morris_romanbold;
}

.helv {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Shadows */

.bigshadow {
  text-shadow: #EE5029 0 .25rem;
}

.mediumshadow {
  text-shadow: #EE5029 0 .125rem;
}

.lilshadow {
  text-shadow: #EE5029 0 .0625rem;
}

/* Dynamic Colors */

.color1 {
  background-color: #5AAA4C;
}

.color2 {
  background-color: #F8B334;
}

.color3 {
  background-color: #7A58AF;
}

.color4 {
  background-color: #9F5272;
}

.color5 {
  background-color: #EE5029;
}

/* Alternate Palette Colors */

.dnd1 {
  background-color: #5AAA4C;
}

.dnd2 {
  background-color: #F8B334;
}

.dnd3 {
  background-color: #7A58AF;
}

.dnd4 {
  background-color: #9F5272;
}

.dnd5 {
  background-color: #EE5029;
}

.mono1 {
  background-color: #594545;
}

.mono2 {
  background-color: #F2E3D0;
}

.mono3 {
  background-color: #BFAE99;
}

.mono4 {
  background-color: #8C7C69;
}

.mono5 {
  background-color: #0D0000;
}

.pastel1 {
  background-color: #98CB61;
}

.pastel2 {
  background-color: #E49BC3;
}

.pastel3 {
  background-color: #F2DA5E;
}

.pastel4 {
  background-color: #E884A5;
}

.pastel5 {
  background-color: #5CBFC1;
}

.playful1 {
  background-color: #44B3B1;
}

.playful2 {
  background-color: #CCEEFF;
}

.playful3 {
  background-color: #FF7300;
}

.playful4 {
  background-color: #FFC738;
}

.playful5 {
  background-color: #256D94;
}

.vintage1 {
  background-color: #C39917;
}

.vintage2 {
  background-color: #17997B;
}

.vintage3 {
  background-color: #F69E35;
}

.vintage4 {
  background-color: #4EA4A8;
}

.vintage5 {
  background-color: #908359;
}

.pumpkin1 {
  background-color: #D9A404;
}

.pumpkin2 {
  background-color: #F28705;
}

.pumpkin3 {
  background-color: #733702;
}

.pumpkin4 {
  background-color: #D95204;
}

.pumpkin5 {
  background-color: #731702;
}

/* File Upload Buttons */

.filebuttondnd::file-selector-button {
  background-color: #EE5029;
  box-shadow: 0 0.125rem #9F5272;
  color: aliceblue;
}

.filebuttonmono::file-selector-button {
  background-color: #0D0000;
  box-shadow: 0 0.125rem #8C7C69;
  color: aliceblue;
}

.filebuttonpastel::file-selector-button {
  background-color: #5CBFC1;
  box-shadow: 0 0.125rem #E884A5;
  color: darkmagenta;
}

.filebuttonplayful::file-selector-button {
  background-color: #256E94;
  box-shadow: 0 0.125rem #FFC738;
  color: aliceblue;
}

.filebuttonvintage::file-selector-button {
  background-color: #908359;
  box-shadow: 0 0.125rem #4FA4A8;
  color: aliceblue;
}

.filebuttonpumpkin::file-selector-button {
  background-color: #731702;
  box-shadow: 0 0.125rem #D95204;
  color: aliceblue;
}

/* Static Colors */

.blue {
  background-color: #124EA4;
}

.white {
  background-color: aliceblue;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Pixel Palette */

.palette {
  width: 2.7vw;
  height: 2.7vw;
}

.palette0 {
  background-color: #FFFFFF;
}

.palette1 {
  background-color: #FCF502;
}

.palette2 {
  background-color: #FF6400;
}

.palette3 {
  background-color: #DD0502;
}

.palette4 {
  background-color: #F10185;
}

.palette5 {
  background-color: #4600A6;
}

.palette6 {
  background-color: #1200D6;
}

.palette7 {
  background-color: #00AEE9;
}

.palette8 {
  background-color: #1ABA0D;
}

.palette9 {
  background-color: #006407;
}

.palette10 {
  background-color: #572801;
}

.palette11 {
  background-color: #917135;
}

.palette12 {
  background-color: #C2C2C2;
}

.palette13 {
  background-color: #818181;
}

.palette14 {
  background-color: #3E3E3E;
}

.palette15 {
  background-color: #000000;
}

/* Formatting & Layout */

.rounded {
  border-radius: .25rem;
}

.roundtop {
  border-radius: .25rem .25rem 0 0;
}

.roundbottom {
  border-radius: 0 0 .25rem .25rem;
}

.circle {
  border-radius: 50%;
}

.morerounded {
  border-radius: .5rem;
}

.padded {
  padding: 1rem;
}

.lilpadded {
  padding: .5rem;
}

.tinypadded {
  padding: .125rem;
}

.topmargin {
  margin-top: 1rem;
}

.liltopmargin {
  margin-top: .5rem;
}

.bottommargin {
  margin-bottom: 1rem;
}

.lilbottommargin {
  margin-bottom: .5rem;
}

.rightmargin {
  margin-right: 1rem;
}

.leftmargin {
  margin-left: 1rem;
}

.centermargin {
  margin: 0 auto;
}

.nooutline {
  outline: none;
}

.whiteborder {
  border: 1px solid aliceblue;
  contain: paint;
}

.noborder {
  border-style: none;
}

.pointer {
  cursor: pointer;
}

.width5 {
  width: 5vw;
}

.width10 {
  width: 10vw;
}

.width15 {
  width: 15vw;
}

.width20 {
  width: 20vw;
}

.width30 {
  width: 30vw;
}

.width40 {
  width: 40vw;
}

.halfwidth {
  width: 50%;
}

.thirdwidth {
  width: 33%;
}

.fullwidth {
  width: 100%;
}

.width20percent {
  width: 20%;
}

.width25percent {
  width: 25%;
}

.width40percent {
  width: 40%;
}

.width50percent {
  width: 50%;
}

.width60percent {
  width: 60%;
}

.width80percent {
  width: 80%;
}

.height0max {
  transition: max-height 400ms ease-in;
  max-height: 0;
}

.height1 {
  height: 1rem;
}

.hide {
  display: none;
}

.imgfit {
  max-width: 100%;
  object-fit: contain;
}

.bw {
  filter: grayscale(1)
}

.glow {
  box-shadow: 0 0 1rem .5rem aliceblue;
}

.unclickable {
  pointer-events: none;
}

/* Transformations */

.flip {
  transform: rotate(180deg);
}

.grow {
  transform: scale(125%);
}

.jackpot {
  animation: jackpot 0.6s infinite both;
}

/* Repeated Elements */

.button {
  height: 3rem;
  box-shadow: 0 0.125rem #9F5272;
  transition: transform 200ms;
}

.button:hover {
  font-weight: bold;
}

.button:active {
  transform: translateY(0.125rem);
  box-shadow: none;
}

.colorswatch {
  width: 3rem;
  height: 3rem;
}

.pixel {
  background-color: white;
  outline: 1px solid lightgrey;
}

.meme > img {
  height: 5vw;
  object-fit: cover;
  object-position: top;
}

.caption {
  z-index: 10;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  position: relative;
  white-space: pre-line;
  display: inline-block;
  text-align: center;
}

/* One-offs */

.modal {
  max-width: 80vw;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);;
}

.header {
  background-image: url("./img/dnd-header.png");
  background-size: cover;
  background-position: center;
  height: 21rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  align-content: end;
}

.footer {
  background-image: url("./img/dnd-footer.png");
  background-size: cover;
  background-position: center;
  height: 45rem;
  max-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 86vw;
  height: 100%;
}

.sidebar {
  width: 20%;
  /* position: sticky;
  top: 0; */
}

.sidebarmobile {
  width: 100%;
  /* justify-content: flex-between; */
  display: none;
}

.sidebarmobile img {
  width: 10vw;
  height: 10vw;
  margin-right: 1rem;
}

.sidebarmobile a {
  text-decoration: none;
  padding: .5rem;
  display: block;
}

.sidebarmobile #mobileLinks {
  display: none;
}

.sidebarmobile #hamburger {
  font-size: 8vw;
  line-height: 20%;
}

.main {
  width: 80%;
}

.pixelgrid {
  width: 60vw;
  margin: 1rem auto 0 auto;
}

.chip {
  background-image: url("./img/chip.png");
  background-size: cover;
  background-position: center;
  width: 5vw;
  height: 5vw;
}

.memeimgcontainer {
  position: relative;
  align-self: flex-start;
}

.memeimgcontainer > img {
  vertical-align: top;
  width: 100%;
  opacity: 0;
}

.memeimgcontainer > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-wrap: balance;
}

/* Animation Keyframes */

@keyframes jackpot {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/* Media Queries for Mobile */

@media (width < 1250px) {

  .meme p {
    display: none;
  }

}

@media (width < 1050px) {

  .header div.h4text {
    flex-direction: row;
    text-align: center;
  }

  .header div.h4text h4 {
    width: min-content;
  }

}

@media (width < 900px) {
  html {
    font-size: 75%;
  }

  input::file-selector-button {
    height: 10vw;
  }
  
  .sidebar {
    display: none;
  }

  .sidebarmobile {
    display: flex;
  }

  .container {
    max-width: 92vw;
  }

  .innercontainer {
    flex-direction: column;
  }

  .main {
    width: 100%;
  }

  .modal {
    width: 70vw;
  }

  .meme {
    width: 7vw;
  }

  .modal {
    width: 70vw;
  }

  .meme {
    width: 7vw;
  }
  
  #colorchange-body .colorswatch {
    height: 10vw;
    width: 10vw;
  }

  .sidebarmobile .button {
    height: 5rem;
  }

  #colorchange-body .button {
    width: 20vw;
  }

  #colorchange-body .button,
  #pixelart-body .button,
  #poker-body .button,
  #mememaker-body .button {
    height: 10vw;
  }

  #pixelart-body .palette {
    width: 4vw;
    height: 4vw;
  }
  
  #poker-body .width10 {
    width: 15vw;
  }

  #memeTitle {
    width: 39.5vw;
  }
}

@media (width < 550px) {
  html {
    font-size: 50%;
  }

  button {
    font-size: smaller;
  }

  input::file-selector-button {
    font-size: smaller;
  }
}